*.log*
node_modules
benchmarks/node_modules
coverage
.cc_token
esm
*.js
*.d.ts
*.mjs
*.map
!rollup.config.js
!prettier.config.js
!benchmarks/*.mjs
nvi
**/test_arg
**/test_env
**/test_load_config
**/CMakeFiles/*
**/CMakeCache.txt
**/Testing
*.a
*.cmake
*.tcl
*.cache
compile_commands.json
Makefile

