zig-out/
.zig-cache/
*.o
build/
build-*/
docgen-tmp/

# Compiled objects and intermediates
*.o
*.obj
*.lo
*.slo
*.ko

# Libraries
*.a
*.lib
*.so
*.so.*
*.dylib
*.dll

# Executables
*.exe
*.out
*.app

# Debug info
*.dSYM/
*.su
*.idb
*.pdb

# Build output / dependency files
*.d

/nvi

/nob
nob.old
