# THIS IS A COMMENT

BASIC_ENV=true
OVERWRITTEN=false

SSH_PRIVATE_KEY=-----BEGIN RSA PRIVATE KEY-----\
MIIEpAIBAAKCAQEA2x5s8K9vN3pQ7mK8vL2d5pJ9mX6kL8qR3wT9uV5sZ2aB4cD\
oqRosTouVoaV1EthzxeIRx7pPoqR9sTiuVcwXjyZiBvcDj0FlgHgiJjlLjmNjoP\
owKBAQDZ2sX7pPoqRisTiuVcwXjyZiBvcDj0FlgHgiJjlLjmNjoPoqRosTouVoaV\
3EthzxeIRx7pPoqR9sTiuVcwXjyZiBvcDj0FlgHgiJjlLjmNjoPoqRosTouVoaV\
-----END RSA PRIVATE KEY-----

LITERAL_HASHES=1#2#3#4#
LITERAL_HASHES=#####
LITERAL_DOLLARS=$$$$$
LITERAL_BRACES={{{{}}}}

INTERPOLATED_ENV_FROM_SHELL=${USER}

SENTENCE=The quick brown fox jumps over the lazy dog
QUOTED_LITERAL="I'd buy that for a dollar!"

QUOTED_INTERPOLATION="I'll never say ${QUOTED_LITERAL} again"

SINGLE_QUOTES_SPACES='  SINGLE QUOTES  '
DOUBLE_QUOTES_SPACES="  DOUBLE QUOTES  "

SINGLE_LITERAL_QUOTES=sad'wow'bak
DOUBLE_LITERAL_QUOTES=sad"wow"bak

EMPTY_SINGLE_QUOTES=''
EMPTY_DOUBLE_QUOTES=""

OVERWRITTEN=true

# THE FOLLOWING BUILDS AN INTERPOLATED KEY
MONGOLAB_DATABASE=localhost
MONGOLAB_USER=root
MONGOLAB_PASSWORD=password
MONGOLAB_DOMAIN=abcd1234.mongolab.com
MONGOLAB_PORT=12345
MONGOLAB_URI=mongodb://${MONGOLAB_USER}:${MONGOLAB_PASSWORD}@${MONGOLAB_DOMAIN}:${MONGOLAB_PORT}/${MONGOLAB_DATABASE}
